profile/src/main/resources/Profile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  =============================================================================================================
	
	  HL7 Conformance Profile Schema version xxx
	
	  Salifou Sidi M. Malick        -        Prometheus Computing        -        s.malick@prometheuscomputing.com
	  ============================================================================================================= -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--  =============================================================================================================
		    =========================         Root  Element  Definition           =======================================
		    ============================================================================================================= -->

	<xs:element name="ConformanceProfile" type="ConformanceProfileType">
		<!--  Datatype ID must be unique within Datatypes element-->
		<xs:key name="DatatypeKey">
			<xs:selector xpath="./Datatypes/Datatype"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<!--  Segment ID must be unique within Segments element-->
		<xs:key name="SegmentKey">
			<xs:selector xpath="./Segments/Segment"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<!--  Message ID must be unique within Messages element-->
		<xs:key name="MessageKey">
			<xs:selector xpath="./Messages/Message"/>
			<xs:field xpath="@ID"/>
		</xs:key>
		<!--  Component must reference an existing Datatype -->
		<xs:keyref refer="DatatypeKey" name="ComponentDatatypeKeyRef">
			<xs:selector xpath="./Datatypes/Datatype/Component"/>
			<xs:field xpath="@Datatype"/>
		</xs:keyref>
		<!--  Field must reference an existing Datatype -->
		<xs:keyref refer="DatatypeKey" name="FieldDatatypeKeyRef">
			<xs:selector xpath=".//Segments/Segment/Field"/>
			<xs:field xpath="@Datatype"/>
		</xs:keyref>
		<!--  Mapping/Case must reference an existing Datatype -->
		<xs:keyref refer="DatatypeKey" name="MappingCaseDatatypeKeyRef">
			<xs:selector xpath=".//Case"/>
			<xs:field xpath="@Datatype"/>
		</xs:keyref>
		<!--  Segment in a message must reference an existing Segment -->
		<xs:keyref refer="SegmentKey" name="MSegmentKeyRef">
			<xs:selector xpath=".//Segment"/>
			<xs:field xpath="@Ref"/>
		</xs:keyref>
	</xs:element>

	<!--  =============================================================================================================
		    =========================         Attribute Group Definitions         =======================================
		    ============================================================================================================= -->

	<xs:attributeGroup name="RepeatableProperties">
		<xs:attribute name="Min" type="PositiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>
					This identifies the minimum number of repetitions of the element that are permitted in a message instance. This attribute should 
					only be specified if the minimum number of repetitions is greater than 1, as the minimum for other elements is always '0'.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Max" type="IntegerOrStar" use="required">
			<xs:annotation>
				<xs:documentation>
					This identifies the maximum number of repetitions of the element that are permitted in a message instance. This attribute should 
					only be specified if the maximum number of repetitions is greater than 1 and differs from the minimum attribute (i.e. the maximum
					number of repetitions is greater than the minimum number of repetitions). The special value '*' may be used to represent 'unlimited' repetitions.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="DataElementProperties">
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attribute name="Datatype" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>The datatype of the data element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MinLength" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Identifies the minimum allowed length for the content of the element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MaxLength" type="IntegerOrStar" use="optional" default="*">
			<xs:annotation>
				<xs:documentation>Identifies the maximum allowed length for the content of the element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConfLength" type="ConfLengthType" use="optional">
			<xs:annotation>
				<xs:documentation>The minimum length an application must be able to handle.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Binding" type="NonEmptyString" use="optional"/>
		<xs:attribute name="BindingStrength" type="BindingStrengthType" use="optional"/>
		<xs:attribute name="BindingLocation" type="BindingLocationType" use="optional"/>
		<xs:attribute name="Hide" type="xs:boolean" use="optional"/>
	</xs:attributeGroup>

	<!--  =============================================================================================================
		    =========================       Simple Types Definitions              =======================================
		    ============================================================================================================= -->

	<xs:simpleType name="PositiveInteger">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntegerOrStar">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|\*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\s]*[\S].*"/>
			<!-- \S is the negation of \s  -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UsageType">
		<xs:annotation>
			<xs:documentation>
				Usage identifies the circumstances under which an element appears in a message. Possible values are: 
				R - Required (must always be present); 
				RE - Required or Empty (must be present if available); 
				O - Optional (no guidance on when the element should appear); 
				C - Conditional (the element is required or allowed to be present when the condition specified in the Predicate element is true);
				X - Not supported (the element is not supported)
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="X"/>
			<!-- #FIXME# Not sure if we need these -->
			<xs:enumeration value="B"/>
			<xs:enumeration value="W"/>
			<xs:enumeration value="CE"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="MsgStructIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}(_[A-Z0-9]{3})?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ConfLengthType">
		<xs:restriction base="NonEmptyString">
			<xs:pattern value="\d*[#=]{0,1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DatatypeNameType">
		<xs:restriction base="NonEmptyString">
			<!-- Alphanumeric and '-' and '_' are alowed -->
			<xs:pattern value="[a-zA-Z0-9_-]*"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SegmentNameType">
		<xs:restriction base="NonEmptyString">
			<xs:pattern value="[A-Z]{2}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingStrengthType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<!-- Required -->
			<xs:enumeration value="S"/>
			<!-- Suggested -->
			<xs:enumeration value="U"/>
			<!-- Undermined -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingLocationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|(\d+:\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<!--  =============================================================================================================
		    =========================         Complex Types Definitions           =======================================
		    ============================================================================================================= -->

	<xs:complexType name="DymanicMappingType">
		<xs:sequence>
			<xs:element name="Mapping" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Case" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="Value" type="NonEmptyString" use="required"/>
								<xs:attribute name="Datatype" type="DatatypeNameType" use="required"/>
								<!--FIXME Allow Usage, Cardinality, Length and Value Set -->
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Position" type="PositiveInteger" use="required">
						<xs:annotation>
							<xs:documentation>The data element which data type is 'varies'</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Reference" type="PositiveInteger" use="required">
						<xs:annotation>
							<xs:documentation>The primitive data element that defines the data type to use depending on its value</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataElementType" abstract="true">
		<xs:attributeGroup ref="DataElementProperties"/>
	</xs:complexType>

	<xs:complexType name="FieldType">
		<xs:complexContent>
			<xs:extension base="DataElementType">
				<xs:attributeGroup ref="RepeatableProperties"/>
				<xs:attribute name="ItemNo" type="NonEmptyString" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SegmentType">
		<xs:annotation>
			<xs:documentation>Documents the characteristics of a single HL7 segment within the context of a particular message or segment group.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DynamicMapping" type="DymanicMappingType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required"/>
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Label" type="NonEmptyString" use="required"/>
		<xs:attribute name="Description" type="NonEmptyString" use="required"/>
	</xs:complexType>

	<xs:complexType name="DatatypeType">
		<xs:annotation>
			<xs:documentation>Provides descriptive information about the life-cycle of the HL7 v2x Static Definition, as well as authorship and control information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="DataElementType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="DatatypeNameType" use="required"/>
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Label" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Description" type="NonEmptyString" use="required"/>
	</xs:complexType>

	<xs:complexType name="SegmentRefType">
		<xs:attribute name="Ref" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attributeGroup ref="RepeatableProperties"/>
	</xs:complexType>

	<xs:complexType name="GroupType">
		<xs:annotation>
			<xs:documentation>Documents the characteristics of a grouping of HL7 segments within the context of a particular message or segment group.</xs:documentation>
		</xs:annotation>
		<xs:group ref="GroupStructure" minOccurs="1" maxOccurs="1"/>
		<xs:attribute name="ID" type="NonEmptyString" use="required"/>
		<xs:attribute name="Name" type="NonEmptyString" use="required"/>
		<xs:attribute name="Usage" type="UsageType" use="required"/>
		<xs:attributeGroup ref="RepeatableProperties"/>
	</xs:complexType>

	<xs:complexType name="MessageType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:group ref="GroupStructure" minOccurs="1" maxOccurs="1"/>
		<xs:attribute name="ID" type="NonEmptyString" use="required"/>
		<xs:attribute name="Identifier" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Name" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Type" type="NonEmptyString" use="required"/>
		<xs:attribute name="Event" type="NonEmptyString" use="required"/>
		<xs:attribute name="StructID" type="MsgStructIDType" use="required">
			<xs:annotation>
				<xs:documentation>The HL7 message structure code, as identified in MSH-9.3 (see HL7 Table 0354 - Message Structure Type).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>A description of the event carried by this message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="MetaDataType">
		<xs:attribute name="Name" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Name of this profile ex) Z22 Message profile</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OrgName" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Organization Name of this profile ex) NIST</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Version" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Version of this profile ex) 1.0.0</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Date" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Date of this profile ex) YYYYMMDD</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecificationName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Provides a name that clearly and concisely defines the message exchange being profiled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" use="optional">
			<xs:annotation>
				<xs:documentation>Status of this profile, as assigned by the author. There is no prescribed status scheme at this time. Possible values might include: 'Draft', 'Active', 'Superceded', 'Withdrawn'</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Draft"/>
					<xs:enumeration value="Active"/>
					<xs:enumeration value="Superceded"/>
					<xs:enumeration value="Withdrawn"/>
					<xs:enumeration value="Published"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Topics" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>This provides a list of key-words that relate to the profile and that may be useful in profile searches.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ConformanceProfileType">
		<xs:sequence>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Encodings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Encoding" minOccurs="1" maxOccurs="unbounded">
							<xs:simpleType>
								<xs:union memberTypes="xs:NMTOKEN">
									<xs:simpleType>
										<xs:restriction base="xs:NMTOKEN">
											<xs:enumeration value="ER7"/>
											<xs:enumeration value="XML"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Messages" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Message" type="MessageType" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Segments" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segment" type="SegmentType" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Datatypes" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Datatype" type="DatatypeType" minOccurs="1"
							maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="optional"/>
		<xs:attribute name="Type" use="optional">
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation>
						Categorizes the profile into one of 3 types:
						HL7 - represents a specific HL7 published standard (may only be submitted by the HL7 Organization);
						Constrainable - May contain "Optional" elements which must be further constrained in order to create implementation profiles;
						Implementation - Fully constrained with no optionality (reflects the behavior of a runtime system)</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="HL7"/>
					<xs:enumeration value="Constrainable"/>
					<xs:enumeration value="Implementation"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HL7Version" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="2.0"/>
					<xs:enumeration value="2.1"/>
					<xs:enumeration value="2.2"/>
					<xs:enumeration value="2.3"/>
					<xs:enumeration value="2.3.1"/>
					<xs:enumeration value="2.4"/>
					<xs:enumeration value="2.5"/>
					<xs:enumeration value="2.5.1"/>
					<xs:enumeration value="2.6"/>
					<xs:enumeration value="2.7"/>
					<xs:enumeration value="2.8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<!-- Need to review the schema versions values -->
		<xs:attribute name="SchemaVersion" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="1.0"/>
					<xs:enumeration value="1.5"/>
					<xs:enumeration value="2.0"/>
					<xs:enumeration value="2.5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:group name="GroupStructure">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="Segment" type="SegmentRefType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Group" type="GroupType" minOccurs="1" maxOccurs="1"/>
				<!--  FIXME: Is choice allowed in the profile ?
				<xs:element name="Choice" type="GroupType" minOccurs="1" maxOccurs="1"/>
				 -->
			</xs:choice>
		</xs:sequence>
	</xs:group>

</xs:schema>
