validation/src/main/resources/vs/ValueSets.xsd.old

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by ww (NIST) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ValueSetLibrary">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NoValidation" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="BindingIdentifier" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ValueSetDefinitions" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ValueSetDefinition" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="ValueElement">
											<xs:complexType>
												<xs:attribute name="Value" type="xs:string" use="required"/>
												<xs:attribute name="DisplayName" type="xs:string" use="required"/>
												<xs:attribute name="CodeSystem" type="xs:string" use="optional"/>
												<xs:attribute name="CodeSystemVersion" type="xs:string" use="optional"/>
												<xs:attribute name="Usage" type="UsageType" use="optional" default="R"/>
												<xs:attribute name="Comments" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="BindingIdentifier" type="xs:string" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="required"/>
									<xs:attribute name="Description" type="xs:string" use="optional"/>
									<xs:attribute name="DisplayClassifier" type="xs:string" use="optional"/>
									<xs:attribute name="Version" type="xs:string" use="optional"/>
									<xs:attribute name="Oid" type="xs:string"/>
									<xs:attribute name="Stability" type="StabilityType" use="optional"/>
									<xs:attribute name="Extensibility" type="ExtensibilityType" use="optional"/>
									<xs:attribute name="ContentDefinition" type="ContentDefinitionType" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ValueSetLibraryIdentifier" type="xs:string" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="required"/>
			<xs:attribute name="OrganizationName" type="xs:string"/>
			<xs:attribute name="ValueSetLibraryVersion" type="xs:string"/>
			<xs:attribute name="Status" type="StatusType"/>
			<xs:attribute name="Description" type="xs:string"/>
			<xs:attribute name="DateCreated" type="xs:date"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="StabilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Static"/>
			<xs:enumeration value="Dynamic"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExtensibilityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Open"/>
			<xs:enumeration value="Closed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContentDefinitionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Extensional"/>
			<xs:enumeration value="intensional"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Draft"/>
			<xs:enumeration value="Superceded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UsageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
